{% extends 'base.html.twig' %}

{% block body %}

     <h4>Inscription</h4>

    {{ form_start(form) }}
   

    <div class="row">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
